<div class="lh-audit__description">
    <%- Translations.DescriptionMetrics %>
</div>
<table class="lh-table lh-details">
    <thead>
        <tr>
            <th class="lh-table-column--url">
                <div class="lh-text">
                    <%= Translations.LabelMetrics %>
                </div>
            </th>
            <th class="lh-table-column--bytes">
                <div class="lh-text">
                    <%= Translations.LabelValue %>
                </div>
            </th>
            <th class="lh-table-column--bytes">
                <div class="lh-text">
                    <%= Translations.LabelConvertedValue %>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="lh-row--even">
            <td class="lh-table-column--url">
                    <div class="lh-text">
                        <%- mySvg.svgIconCo2 %>
                        <span>
                            <%= Translations.LabelGases %>
                        </span> 
                         <span>
                            (<%- Translations.LabelWordFor %> <%= gasesNumberOfVisits %> <%- Translations.LabelWordVisits %>)
                        </span>
                    </div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text">
                    <%= greenhouseGases %>
                </div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text">
                    <%= greenhouseGasesKm %> km
                </div>
            </td>
        </tr>

        <tr class="lh-row--odd">
            <td class="lh-table-column--url">
                <div class="lh-text">
                    <span>
                        <%- mySvg.svgIconWater %>
                    </span>
                    <span>
                        <%= Translations.LabelWaterConsummation %>
                    </span>
                    <span>
                        (<%- Translations.LabelWordFor %> <%= waterNumberOfVisits %> <%- Translations.LabelWordVisits %>)
                    </span>
                </div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text">
                    <%= water %>
                </div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text">
                    <%= waterShower %>
                        <%= Translations.LabelShowers %>
                </div>
            </td>
        </tr>
    </tbody>
</table>