<table class="lh-table lh-details">
    <thead>
        <tr>
            <th class="lh-table-column--url">
                <div class="lh-text">Métrique</div>
            </th>
            <th class="lh-table-column--bytes">
                <div class="lh-text">Valeur </div>
            </th>
            <th class="lh-table-column--bytes">
                <div class="lh-text">Valeur convertie</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="lh-row--even">
            <td class="lh-table-column--url">
                <div class="lh-text">Gaz a effet de serre</div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text"><%= greenhouseGases %></div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text"><%= greenhouseGasesKm %>km</div>
            </td>
        </tr>

        <tr class="lh-row--odd">
            <td class="lh-table-column--url">
                <div class="lh-text">Consommation eau</div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text"><%= water %></div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text"><%= waterShower %> douches</div>
            </td>
        </tr>
    </tbody>
</table>