<div class="lh-audit__description">
    <%=  Translations.DescriptionEcoIndex %>
</div>
<table class="lh-table lh-details">
    <thead>
        <tr>
            <th class="lh-table-column--url">
                <div class="lh-text">
                    <%= Translations.LabelMetrics %>
                </div>
            </th>
            <th class="lh-table-column--bytes">
                <div class="lh-text">
                    <%= Translations.LabelValue %>
                </div>
            </th>
            <th class="lh-table-column--bytes">
                <div class="lh-text">
                    <%= Translations.LabelMaxRecommandedValue %>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="lh-row--even">
            <td class="lh-table-column--url">
                <div class="lh-text">
                    <%= Translations.LabelNumberRequest %>
                </div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text <%=NumberOfRequestCssClass %>"><%= NumberOfRequest %></div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text"><%= NumberOfRequestRecommendation %></div>
            </td>
        </tr>

        <tr class="lh-row--odd">
            <td class="lh-table-column--url">
                <div class="lh-text"><%= Translations.LabelWeightPage %></div>
            </td>
            <td class="lh-table-column--bytes">

                <div class="lh-text <%= PageSizeCssClass %>"><%= PageSize %></div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text"><%= PageSizeRecommendation %></div>
            </td>
        </tr>

        <tr class="lh-row--even">
            <td class="lh-table-column--url">
                <div class="lh-text"><%= Translations.LabelComplexityDom %></div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text <%=PageComplexityCssClass %>"><%= PageComplexity %></div>
            </td>
            <td class="lh-table-column--bytes">
                <div class="lh-text"><%= PageComplexityRecommendation %></div>
            </td>
        </tr>
    </tbody>
</table>
