<html lang="<%= lang %>">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Cache-control" content="public" />
</head>

<body>
  <style>
    <%- style %>
  </style>
  <article class="lh-root lh-vars lh-screenshot-overlay--enabled">
    <div class="lh-header-container">
      <div class="lh-audit-group__header">
        <h1 class="lh-audit__title">
          <span><%- Translations.LabelGlobalTitle %></span>
          <%- GlobalNote %>
          </h1>
      </div>
      <div class="lh-scores-container">
        <div class="lh-pyro">
          <div class="lh-pyro-before"></div>
          <div class="lh-pyro-after"></div>
        </div>
        <div class="lh-scores-header">
          <%- GlobalPerformance %>
            <%- GlobalAccessibility %>
              <%- GlobalBestPractices %>
                <%- GlobalEcoIndex %>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="lh-report">
      <div class="lh-categories">
        <div class="lh-category-wrapper">
          <div class="lh-category lh--hoisted-meta" id="performance">
            <div class="lh-audit__description">
              <%- Translations.LabelDescriptionAudit %>
            </div>
            <%- GlobalGreenItMetrics %>
              <div class="lh-audit-group lh-audit-group--load-opportunities">
                <div class="lh-audit-group__header"><span class="lh-audit-group__title">
                    <%= Translations.LabelResultByPage %>
                  </span></div>
                <div class="lh-load-opportunity__header lh-load-opportunity__cols">
                  <div class="lh-load-opportunity__col lh-load-opportunity__col--one">
                    <%= Translations.LabelPage %>
                  </div>
                </div>
                <%- PerPages %>
              </div>
          </div>
        </div>
        <footer class="lh-footer" style="display: none"></footer>
      </div>
      <footer class="lh-footer" style="display: none">
      </footer>
    </div>
    </div>
  </article>