<div class="lh-audit lh-audit--load-opportunity lh-audit--numeric <%- StatusClassPerPageTag %>">
    <details class="lh-expandable-details">
        <summary>
            <div class="lh-audit__header">
                <div class="lh-load-opportunity__cols">
                    <div class="lh-load-opportunity__col lh-load-opportunity__col--one">
                        <%- IconPerPageTag %>
                            <div class="lh-audit__title">
                                <div>
                                <span><%= Translations.LabelStep %></span>
                                <span><%= numberPageTag %></span></div>
                                <span>
                                    <%= PageName %>
                                </span>
                            </div>
                    </div>
                </div>
            </div>
        </summary>
        <div class="lh-audit__description"><span>
                <%= Translations.SeeReport %>
                    <a rel="noopener" target="_blank" href="<%= LighthouseReportPath %>">
                        <%= Translations.LabelTheReport %>
                    </a>
            </span>
        </div>
        <div class="lh-scores-wrapper">
            <div class="lh-scores-container">
                <div class="lh-scores-header">
                    <%- PerformanceBlock %>
                        <%- AccessibilityBlock %>
                            <%- BestPracticesBlock %>
                                <%- EcoIndexBlock %>
                </div>
            </div>
        </div>
            <%- PageMetricsBlock %>
            <%- GreenItMetricsBlock %>
    </details>
</div>